.icon-reload { background:url("../css/img/reload.png") no-repeat scroll 5px 4px transparent !important; }
.icon-add { background:url("../css/img/add.png") no-repeat scroll 5px 4px transparent !important; }
#panelHome {margin-top:5px}
.vertical-tabs-header {padding-top: 20px !important;}

.x-grid3-row :hover { background-color:#fef8dc; cursor:pointer;}

.panel-desc {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
    background-color: #F7F7F7;
    border: 1px solid #E7E7E7 !important;
    margin-bottom: 5px;
    margin-top: 0;
}